[submodule "backend"]
	path = backend
	url = git@github.com:toramanlis/rg-labs-product-sync-case.backend
[submodule "frontend"]
	path = frontend
	url = git@github.com:toramanlis/rg-labs-product-sync-case.frontend
